# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/ # Your virtual environment
*.egg-info/
.mypy_cache/
.pytest_cache/
.DS_Store # macOS specific

# Django
db.sqlite3 # Your database file (don't commit this to public repos)
/media # User uploaded files
/static # Collected static files
*.log
local_settings.py # If you create a local settings file